@import "tailwindcss";

@theme {
  --color-llano-sand: #fde68a;
  --color-llano-earth: #b45309;
  --color-llano-orange: #ea580c;
  --color-llano-sky: #bae6fd;
  --color-llano-green: #4ade80;
  
  --color-garzie-pink: #d946ef;
  --color-garzie-pink-dark: #a21caf;

  --font-family-bubble: "Nunito", sans-serif;
}

@layer base {
  body {
    background-color: var(--color-llano-sky);
    color: #1e293b;
    font-family: system-ui, sans-serif;
  }
}

.flat-shadow {
  box-shadow: 4px 4px 0px 0px rgba(0,0,0,0.15);
}

.flat-button {
  transition: all 0.1s;
  box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.2);
}

.flat-button:active {
  transform: translateY(4px);
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.2);
}
